.book-edit {
    position: relative;
    border: 1px solid lightgray;
}

.book-edit h2 {
    padding: 1em;
    text-align: center;

    background-color: lightgray;
}

.book-edit div {
    position: relative;

    display: flex;

    padding: 1em;
}

.book-edit form {
    display: grid;
    grid-auto-flow: column;
    flex-grow: 2;
    gap: 1em;
    padding: 1em;
}

.book-edit span {
    width: max-content;
    color: lightblue;
    font-weight: bold;
}

.book-edit input {
    border: 1px solid lightgray;
    padding: 0.5em;
    color: blue;
}

.book-edit input,
button {
    grid-column: 2;
}

.book-edit button {
    width: max-content;

    border: 1px solid lightgray;

    background-color: white;

    font-weight: bold;

    cursor: pointer;
}

.book-edit .back-btn {
    position: absolute;
    top: 0;
    right: 0;
}